article{
    border: 3px black solid;
}
h1{
    text-align: center;
    font-size: 22px;
}
#backbut{
    font-style: italic;
}
#content{
    text-align: center;
}
section>a{
    border: 2px solid blue;
    background-color: blue;
    color: white;
    display: block;
    width: 100px;
    margin-bottom: 3px;
}
section>a:hover{
    background-color: rgb(90, 12, 90);
}
section>a:active{
    background-color: rgb(94, 94, 11);
}
article{
    font-size: 120%;
}
div{
    font-size: 120%;
}
#text1{
    color:rgb(90, 15, 15);
    background-color: rgb(240, 174, 52);
}
#text2{
    color:rgb(12, 63, 16);
    background-color: rgb(223, 220, 216);
}
#text3{
    color:rgb(6, 54, 46);
    background-color: rgb(206, 203, 197);
}
#text4{
    color:rgb(84, 4, 104);
    background-color: rgb(204, 204, 204);
}
#text5{
    color:rgb(242, 244, 248);
    background-color: rgb(66, 43, 0);
}
.cont{
    font-style: italic;
    font-weight: 600;
}
#TopU{
    text-transform: uppercase;
}